<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.GoodsTypeMapper">
	<!--查询所有分类信息-->
	<!--<select id="selectCategoryList" resultType="com.quxin.freshfun.model.goods.GoodsCategoryOut">
		select id as categoryKey, goods_type as categoryName
		from goods_type where is_deleted = 0
	</select>-->

	<insert id="insertTest">
		insert into user_login(user_name , `password`) values("test" , LAST_INSERT_ID()+1)
	</insert>
</mapper>