<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.GoodsSortMapper">


	<!--查询属性 K-V -->
	<select id="selectGoodsPropertyValue" parameterType="java.lang.String" resultType="java.lang.String">
		select `value` from goods_property where `key` = #{key}
	</select>
	<!--插入属性 K-V -->
	<insert id="insertGoodsPropertyValue">
		insert into goods_property(`key`,`value`) values(#{propertyKey},#{propertyValue})
	</insert>
	<!--编辑属性 K-V -->
	<update id="updateGoodsPropertyValue">
		update goods_property set `value` = #{propertyValue} where `key` = #{propertyKey}
	</update>












	<!--根据商品Id查询商品信息-->
	<select id="selectGoodsPOJOById" parameterType="java.lang.Integer" resultType="com.quxin.freshfun.model.goods.GoodsPOJO">
		select id , goods_name as goodsName , goods_img as goodsImg , shop_price as goodsShopPrice , goods_cost as goodsCost
		from goods where id = #{goodsId} and is_on_sale = 1
	</select>
	<!--查询排序的json字符串-->
	<select id="selectPictureWall" parameterType="java.lang.String" resultType="java.lang.String">
		select sort_value from goods_sort where sort_key = #{sort_key}
	</select>

	<!--插入商品排序 -->
	<insert id="insertGoodsSort" parameterType="com.quxin.freshfun.model.goods.GoodsSortPOJO">
		INSERT  INTO goods_sort(sort_key , sort_value) VALUES(#{sortKey} , #{sortValue})
	</insert>

	<!--清空排序-->
	<update id="updateGoodsSort" parameterType="com.quxin.freshfun.model.goods.GoodsSortPOJO">
		UPDATE goods_sort SET sort_value = #{sortValue} where sort_key = #{sortKey}
	</update>

</mapper>