<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.GoodsMapper">

    <!-- 根据商品编号查询商品信息 -->
    <select id="selectGoodsByGoodsId" parameterType="java.lang.Long" resultType="com.quxin.freshfun.model.goods.GoodsPOJO">
		select id as goodsId ,`name` as goodsName , title as title , ffunsaid as ffunsaid , shop_price as goodsShopPrice ,
		origin_price as originPrice , cost as goodsCost , index_img as goodsImg , carouse_img as carouseImg , detail_img as detailImg ,
		sale_num as saleNum , stock_num as stockNum , is_on_sale as isOnSale , catalog_1 as catalog1 , catalog_2 as catalog2  , catalog_3 as catalog3 ,
		catalog_4 as catalog4 , is_b_sale as isBSale , is_agent as isAgent , store_id as storeId , agent_id as agentId , agent_money as agentMoney ,
		goods_strength as goodsStrength , agent_strength as agentStrength , created as created , updated as updated
		from new_goods where id = #{goodsId} and is_deleted = 0
	</select>
	<!--根据商品Id查询商品规格-->
	<select id="selectGoodsStandardByGoodsId" parameterType="java.lang.Long" resultType="com.quxin.freshfun.model.goods.GoodsStandardPOJO">
		select id , goods_id as goodsId ,brand as brand ,product_place as productPlace, goods_standard as goodsStandard, net_contents as netContents,
		shelf_life as shelfLife ,storage_method as storageMethod ,ingredient_list as ingredientList ,is_sugary as isSugary ,is_organic as isOrganic ,
		is_imported as isImported ,is_box_packed as isBoxPacked , package_component as packageComponent ,taste as taste ,facility ,unsuitable ,suitable ,
		product_form as productForm ,food_additives as foodAdditives ,set_cycle as setCycle ,factory_name as factoryName ,factory_site as factorySite ,
		product_standard_num as productStandardNum ,fresh_store_temp as freshStoreTemp , proof , degree , adaptive_scene as adaptiveScene ,
		packing_method as packingMethod ,packing_type as packingType , wine_style as wineStyle , suit_specification as suitSpecification ,
		decante_duration as decanteDuration , particular_year as particularYear , smell ,colour_sort as colourSort , style_type as styleType,`size`,
		specialty from goods_standard where goods_id = #{goodsId}
	</select>
    <!--添加商品规格-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="goodsId"
            parameterType="com.quxin.freshfun.model.goods.GoodsStandardPOJO">
        INSERT INTO goods_standard
        (goods_id,
        <if test="name != null">
            `name`,
        </if>
        <if test="brand != null">
            brand,
        </if>
        <if test="productPlace != null">
            product_place,
        </if>
		<if test="goodsStandard != null">
			goods_standard,
        </if>
        <if test="netContents != null">
            net_contents,
        </if>
        <if test="shelfLife != null">
            shelf_life,
        </if>
        <if test="storageMethod != null">
            storage_method,
        </if>
        <if test="ingredientList != null">
            ingredient_list,
        </if>
        <if test="isSugary != null">
            is_sugary,
        </if>
        <if test="isOrganic != null">
            is_organic,
        </if>
        <if test="isImported != null">
            is_imported,
        </if>
        <if test="isBoxPacked != null">
            is_box_packed,
        </if>
        <if test="packageComponent != null">
            package_component,
        </if>
        <if test="taste != null">
            taste,
        </if>
        <if test="facility != null">
            facility,
        </if>
        <if test="unsuitable != null">
            unsuitable,
        </if>
        <if test="suitable != null">
            suitable,
        </if>
        <if test="productForm != null">
            product_form,
        </if>
        <if test="foodAdditives != null">
            food_additives,
        </if>
        <if test="setCycle != null">
            set_cycle,
        </if>
        <if test="factoryName != null">
            factory_name,
        </if>
        <if test="factorySite != null">
            factory_site,
        </if>
        <if test="productStandardNum != null">
            product_standard_num,
        </if>
        <if test="freshStoreTemp != null">
            fresh_store_temp,
        </if>
        <if test="proof != null">
            proof,
        </if>
        <if test="adaptiveScene != null">
            adaptive_scene,
        </if>
        <if test="packingMethod != null">
            packing_method,
        </if>
        <if test="packingType != null">
            packing_type,
        </if>
        <if test="wineStyle != null">
            wine_style,
        </if>
        <if test="suitSpecification != null">
            suit_specification,
        </if>
        <if test="decanteDuration != null">
            decante_duration,
        </if>
        <if test="particularYear != null">
            particular_year,
        </if>
        <if test="smell != null">
            smell,
        </if>
        <if test="colourSort != null">
            colour_sort,
        </if>
        <if test="styleType != null">
            style_type,
        </if>
        <if test="size != null">
            `size`,
        </if>
        <if test="specialty != null">
            specialty
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{goodsId},
            <if test="name != null">
                #{name},
            </if>
            <if test="brand != null">
                #{brand},
            </if>
            <if test="productPlace != null">
                #{productPlace},
            </if>
            <if test="goodsStandard != null">
                #{goodsStandard},
            </if>
            <if test="netContents != null">
                #{netContents},
            </if>
            <if test="shelfLife != null">
                #{shelfLife},
            </if>
            <if test="storageMethod != null">
                #{storageMethod},
            </if>
            <if test="ingredientList != null">
                #{ingredientList},
            </if>
            <if test="isSugary != null">
                #{isSugary},
            </if>
            <if test="isOrganic != null">
                #{isOrganic},
            </if>
            <if test="isImported != null">
                #{isImported},
            </if>
            <if test="isBoxPacked != null">
                #{isBoxPacked},
            </if>
            <if test="packageComponent != null">
                #{packageComponent},
            </if>
            <if test="taste != null">
                #{taste},
            </if>
            <if test="facility != null">
                #{facility},
            </if>
            <if test="unsuitable != null">
                #{unsuitable},
            </if>
            <if test="suitable != null">
                #{suitable},
            </if>
            <if test="productForm != null">
                #{productForm},
            </if>
            <if test="foodAdditives != null">
                #{foodAdditives},
            </if>
            <if test="setCycle != null">
                #{setCycle},
            </if>
            <if test="factoryName != null">
                #{factoryName},
            </if>
            <if test="factorySite != null">
                #{factorySite},
            </if>
            <if test="productStandardNum != null">
                #{productStandardNum},
            </if>
            <if test="freshStoreTemp != null">
                #{freshStoreTemp},
            </if>
            <if test="proof != null">
                #{proof},
            </if>
            <if test="adaptiveScene != null">
                #{adaptiveScene},
            </if>
            <if test="packingMethod != null">
                #{packingMethod},
            </if>
            <if test="packingType != null">
                #{packingType},
            </if>
            <if test="wineStyle != null">
                #{wineStyle},
            </if>
            <if test="suitSpecification != null">
                #{suitSpecification},
            </if>
            <if test="decanteDuration != null">
                #{decanteDuration},
            </if>
            <if test="particularYear != null">
                #{particularYear},
            </if>
            <if test="smell != null">
                #{smell},
            </if>
            <if test="colourSort != null">
                #{colourSort},
            </if>
            <if test="styleType != null">
                #{styleType},
            </if>
            <if test="size != null">
                #{size},
            </if>
            <if test="specialty != null">
                #{specialty},
            </if>
        </trim>
    </insert>


	<update id="updateGoods" parameterType="com.quxin.freshfun.model.goods.GoodsPOJO">
		  update goods set


		  where goodsId = #{goodsId}
	</update>
</mapper>