<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.ErpAppInfoMapper" >
    <insert id="insertErpAppInfo" parameterType="com.quxin.freshfun.model.erpuser.ErpAppInfoPOJO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into erp_app_info (app_id,app_name,created,updated,is_deleted)
        values(0,#{appName},#{created},#{updated},0)
    </insert>

    <update id="updateErpAppIdById" parameterType="java.lang.Long">
        update erp_app_info set app_id=#{id} where id=#{id}
    </update>

    <select id="selectErpAppInfo" resultType="com.quxin.freshfun.model.outparam.AppInfoOutParam">
        SELECT
        erp_app_info.app_id AS appId,erp_app_info.app_name AS appName,erp_app_info.created AS created  ,
        COUNT(order_details.id) AS orderNumber,SUM(order_details.actual_price) AS sumActualMoney
         FROM erp_app_info LEFT OUTER JOIN order_details ON erp_app_info.app_id = order_details.app_id
         AND erp_app_info.is_deleted=0 AND order_details.order_status>=30 AND order_details.is_deleted=0 GROUP BY erp_app_info.app_id
    </select>

    <select id="selectAppById" resultType="com.quxin.freshfun.model.erpuser.ErpAppInfoPOJO" parameterType="java.lang.Long">
        select app_id as appId,app_name as appName,created,updated from erp_app_info where app_id=#{appId} and is_deleted =0
    </select>

    <select id="selectAppByName" resultType="com.quxin.freshfun.model.outparam.AppInfoOutParam" parameterType="java.lang.String">
        select app_id as appId,app_name as appName,created from erp_app_info where app_name like #{appName} and is_deleted =0
        SELECT
        erp_app_info.app_id AS appId,erp_app_info.app_name AS appName,erp_app_info.created AS created  ,
        COUNT(order_details.id) AS orderNumber,SUM(order_details.actual_price) AS sumActualMoney
         FROM erp_app_info LEFT OUTER JOIN order_details ON erp_app_info.app_id = order_details.app_id
         AND erp_app_info.app_name like #{appName} AND order_details.order_status>=30
         AND erp_app_info.is_deleted=0 AND order_details.is_deleted=0 GROUP BY erp_app_info.app_id
    </select>

    <update id="updateErpAppInfo" parameterType="com.quxin.freshfun.model.erpuser.ErpAppInfoPOJO">
        update erp_app_info
        <set>
            <if test="appName!=null">
                app_name = #{appName},
            </if>
        </set>
        ,updated=#{updated} where app_id=#{appId}
    </update>

    <update id="deleteErpAppInfo" parameterType="java.util.Map">
        update erp_app_info set is_deleted=1,updated=#{updated} where app_id=#{appId}
    </update>
</mapper>