<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.ErpUserMapper" >

    <!--根据userId查询用户信息-->
    <select id="selectErpUserByUserId" parameterType="java.lang.Long" resultType="com.quxin.freshfun.model.erpuser.ErpUserPOJO">
        select user_id as userId,account,nick_name as nickName,app_id as appId,phone_number as phoneNumber,
        created,updated from erp_user where
        user_id = #{userId} and is_deleted=0
    </select>

    <!--根据帐号查询用户信息-->
    <select id="selectErpUserByAccount" parameterType="java.lang.String" resultType="com.quxin.freshfun.model.erpuser.ErpUserPOJO">
        select user_id as userId,account,password,nick_name as nickName,app_id as appId,phone_number as phoneNumber,
        created,updated from erp_user where
        account = #{account} and is_deleted=0
    </select>

    <!--根据appid查询用户信息-->
    <select id="selectErpUserByAppId" parameterType="java.lang.String" resultType="com.quxin.freshfun.model.erpuser.ErpUserPOJO">
        select user_id as userId,account as userName,password as password,
        app_id as appId,
        created,updated from erp_user where
        app_id = #{appId} and is_deleted=0
    </select>

    <update id="updateErpUserByUserId" parameterType="java.util.Map">
        update erp_user
        <set>
            <if test="password!=null">
                password = #{password},
            </if>
        </set>
        updated=#{updated} where user_id=#{userId}
    </update>

    <update id="updateErpUserIdById" parameterType="java.lang.Long">
        update erp_user set user_id=#{id} where id=#{id}
    </update>

    <insert id="insertErpUser" parameterType="com.quxin.freshfun.model.erpuser.ErpUserPOJO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into erp_user (user_id,account,password,app_id,is_admin,created,updated,is_deleted)
        values(0,#{userName},#{password},#{appId},0,#{created},#{updated},0)
    </insert>

</mapper>